<header class="w-full">
  <!-- [导航菜单] -->
  <nav class="w-full grid gap-8" font="bold">
    <a href="/" th:href="@{/}" th:text="#{home}">主页</a>
    <a href="/post" th:href="@{/post}" th:text="#{posts}">文章</a>
    <a href="/links" th:href="@{/links}" th:text="#{links}">友链</a>
  </nav>
</header>
