---
import Layout from "../layouts/Layout.astro";
---

<!-- 网站标题 -->
<Layout title="[[${site.title}]]">
  <main>
    <div class="text-8xl text-white text-center my-20 select-none nhd">
      {"[[${theme.config.index.name}]]"}
    </div>

    <!-- 我的信息 -->
    <span
      class="prose text-white"
      th:utext="${singlePageFinder.getByName(theme.config.index.singlePage).content.content}"
    ></span>

    <ul th:text="${theme.config.about.singlePage}"></ul>
  </main>
</Layout>

<style>
  .nhd {
    font-family: "Monaspace Krypton", sans-serif;
    font-weight: bold;
    letter-spacing: 0.42em;
    text-indent: 0.42em;
    text-shadow:
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #fff,
      0 0 80px #fff,
      0 0 120px #fff,
      0 0 160px #fff;
  }
</style>
