<!DOCTYPE html><html lang="en" class="astro-G2DMXNPV"><head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Welcome to Astro.</title>
<link rel="stylesheet" href="/assets/index.ef90a6b3.css" th:href="@{/assets/index.ef90a6b3.css}">
<link rel="stylesheet" href="/assets/index.f78db24c.css" th:href="@{/assets/index.f78db24c.css}"></head>

<body class="astro-G2DMXNPV">
  <div class="flex justify-between astro-G2DMXNPV">
    <nav class="flex gap-3 astro-G2DMXNPV">
      <a href="/" th:href="@{/}" class="astro-G2DMXNPV">Home</a>
      <a href="/post" th:href="@{/post}" class="astro-G2DMXNPV">Post</a>
      <a href="/links" th:href="@{/links}" class="astro-G2DMXNPV">Links</a>
    </nav>
    <div class="astro-G2DMXNPV">
      <a href="/" class="astro-G2DMXNPV">默认</a>
      <a href="/?language=zh" class="astro-G2DMXNPV">中文</a>
      <a href="/?language=en" class="astro-G2DMXNPV">英文</a>
    </div>
  </div>
  <main class="astro-B3YVU5QJ">
    <h1 class="astro-B3YVU5QJ">Welcome to <span class="text-gradient astro-B3YVU5QJ">Astro</span></h1>
    <p class="instructions astro-B3YVU5QJ">
      Check out the <code class="astro-B3YVU5QJ">src/pages</code> directory to get started.<br class="astro-B3YVU5QJ">
      <strong class="astro-B3YVU5QJ">Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
    <ul role="list" class="link-card-grid astro-B3YVU5QJ">
      <li class="link-card astro-ILNBRELC">
	<a href="https://docs.astro.build/" class="astro-ILNBRELC">
		<h2 class="astro-ILNBRELC">
			Documentation
			<span class="astro-ILNBRELC">→</span>
		</h2>
		<p class="astro-ILNBRELC">
			Learn how Astro works and explore the official API docs.
		</p>
	</a>
</li>
      <li class="link-card astro-ILNBRELC">
	<a href="https://astro.build/integrations/" class="astro-ILNBRELC">
		<h2 class="astro-ILNBRELC">
			Integrations
			<span class="astro-ILNBRELC">→</span>
		</h2>
		<p class="astro-ILNBRELC">
			Supercharge your project with new frameworks and libraries.
		</p>
	</a>
</li>
      <li class="link-card astro-ILNBRELC">
	<a href="https://astro.build/themes/" class="astro-ILNBRELC">
		<h2 class="astro-ILNBRELC">
			Themes
			<span class="astro-ILNBRELC">→</span>
		</h2>
		<p class="astro-ILNBRELC">
			Explore a galaxy of community-built starter themes.
		</p>
	</a>
</li>
      <li class="link-card astro-ILNBRELC">
	<a href="https://astro.build/chat/" class="astro-ILNBRELC">
		<h2 class="astro-ILNBRELC">
			Chat
			<span class="astro-ILNBRELC">→</span>
		</h2>
		<p class="astro-ILNBRELC">
			Come say hi to our amazing Discord community. ❤️
		</p>
	</a>
</li>
    </ul>
  </main>



</body></html>