---
import { CyberBackground } from "../components/layout/background/CyberBackground.tsx";
import NavMenu from "../components/layout/NavMenu.astro";
export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>

  <body bg="white" dark="bg-black" transition="all!">
    <CyberBackground client:only />
    <div class="flex justify-center text-white font-['Monaspace_Krypton']">
      <NavMenu />

      <!-- <div>
        <a href="/">默认</a>
        <a href="/?language=zh">中文</a>
        <a href="/?language=en">英文</a>
      </div> -->
    </div>
    <slot />
  </body>
</html>
