---
import CyberBackground from "../components/layout/background/CyberBackground.vue";
import SwitchDark from "../components/layout/SwitchDark.vue";
export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>

  <body bg="white" dark="bg-black" transition="all!">
    <CyberBackground client:only />
    <div class="flex justify-center text-white font-['Monaspace_Krypton']">
      <!-- 更改暗色模式 -->
      <SwitchDark client:only />
      <nav class="grid grid-cols-3 gap-8 mt-8 font-bold">
        <a href="/" th:href="@{/}">Home</a>
        <a href="/post" th:href="@{/post}">Post</a>
        <a href="/links" th:href="@{/links}">Links</a>
      </nav>
      <!-- <div>
        <a href="/">默认</a>
        <a href="/?language=zh">中文</a>
        <a href="/?language=en">英文</a>
      </div> -->
    </div>
    <slot />
  </body>
</html>
